.input {
  width: 100%;
  background: var(--primary-three);
  border: 1px solid var(--border-primary);
  border-radius: 8px;
  color: #465e77;
  padding: 10px 15px;
}

.input:focus {
  outline: 2px solid var(--secondary-three);
}
