.container_code {

}

.code_block {
  background: #011221 !important;
  padding: 24px 30px !important;
  border: 1px solid #1e2d3d !important;
  border-radius: 15px !important;
  overflow-y: auto !important;
  margin: 0 !important;
}
